<div class="jumbotron mt-4">
  <h1 class="display-4">About Tablero App</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nemo quaerat voluptatem vel maxime pariatur, reprehenderit, suscipit quos veritatis officia soluta, rem architecto quo? Iusto impedit praesentium et consequuntur exercitationem.</p>
  <a class="btn btn-success btn-lg" href="/ingresar" role="button">
      ¡Ingresar!
  </a>
</div>