<div class="jumbotron mt-4">
  <h1 class="display-4">Anuncios APP</h1>

  <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde similique enim aspernatur repudiandae,
    eveniet provident saepe in exercitationem voluptate tempora doloremque deserunt corporis nemo, voluptatum neque
    hic, itaque magni ratione?</p>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias officiis deserunt, architecto quae
    porro vitae ipsa, doloremque eos dolorem, iusto libero quibusdam! Suscipit porro quisquam nesciunt reiciendis
    incidunt? Maiores, atque.</p>
  <hr class="my-4">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias autem saepe officiis commodi iure illum
    obcaecati unde itaque distinctio placeat delectus asperiores ratione non accusantium pariatur, expedita natus
    perspiciatis provident.Blanditiis similique tempora ea eum, magni esse sed doloribus ut deserunt ducimus
    necessitatibus sint amet nemo non incidunt suscipit aperiam voluptatibus et vitae nostrum. Laboriosam deleniti
    porro aliquid accusantium nesciunt.</p>

  <a class="btn btn-success btn-lg" href="/users/registrarse" role="button">
    ¡Registrarse para comenzar!
  </a>
</div>