{{#if user}}
<div class="row">
    <div class="col-12 mt-4 mx-auto">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            ¡Bienvenido(a) {{ user.name }}, publique sus anuncios <a href="/notes/add">(Agregar Anuncio)</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{{/if}}